.home-content {
    font-size: 220%;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 3em;
    /* position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); */
}
div#container{
    margin: 0 auto;
    width: 80%;
    /* height:80% */

}

.hot-blog{
    text-align: center;
}