{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 以上三句需要的是适应IE浏览器和匹配屏幕大小 -->
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <!-- 引入bootstrap的css -->
    <link rel="stylesheet" href="{% static 'bootstrap3.4.1/css/bootstrap.min.css' %}">
    <!-- 加载JS -->
    <script src="{% static 'jquery.min.js' %}"></script>
    <script src="{% static 'bootstrap3.4.1/js/bootstrap.min.js' %}"></script>
    {% block header_extend %}{% endblock %}
</head>

<body>
    <!-- navbar-fixed-top顶部固定 -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">个人博客网站</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="{% block active_home %}{% endblock %}"><a href="/">首页</a></li>
                    <li class="{% block active_blog %}{% endblock %}"><a href="{% url 'blog_list' %}">博客</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if not user.is_authenticated %}
                    <!-- 未登录 -->
                    <li><a href="{% url 'userLogin' %}?from={{ request.get_full_path }}">登录</a></li>
                    <li><a href="{% url 'rgister' %}?from={{ request.get_full_path }}">注册</a></li>
                    {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">
                            {% if user.has_nickname %}
                            {{ user.username }}({{ user.get_nickname }})
                            {% else %}
                            {{ user.username }}
                            {% endif %}
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'user_info' %}">个人资料</a></li>
                            {% if user.is_superuser or user.is_staff %}
                            <!-- admin:index命名空间和页面 -->
                            <li><a href="{% url 'admin:index' %}">后台管理</a></li>
                            {% endif %}
                            <li><a href="{% url 'login_out' %}?from={{ request.get_full_path }}">退出</a></li>
                        </ul>
                    </li>
                    {% endif %}
                </ul>


            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <form id="login_form" action="" method="post">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">登录</h4>
                    </div>
                    <div class="modal-body">

                        {% csrf_token %}
                        <!-- 使用 user.context_processors.login_form模板内容-->
                        {% for field in login_modal_form%}
                        <label for="{{field.id_for_label}}">{{field.label}}</label>
                        {{field}}
                        {% endfor %}

                        <span id="login_medal_tip"></span>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary">登录</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script>
        $('#login_form').submit(function (event) {
            // 阻止默认动作继续提交
            event.preventDefault()
            $.ajax({
                url: "{% url 'login_for_medal' %}",
                type: "POST",
                data: $(this).serialize(),
                cache: false,
                success: function (data) {
                    console.log(data)
                    if (data['status'] == "SUCCESS") {
                        // 刷新页面
                        window.location.reload()
                    } else {
                        $('#login_medal_tip').text('账号或密码错误')
                    }


                },
                error: function (xhr) {
                    console.log(xhr)
                }
            })



        })
    </script>



    {% block content %}{% endblock %}





</body>

</html>